.main {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  max-width: 1200px;
  max-height: 100vh;
  margin: 0 auto;

  h1 {
    font-size: 4rem;
    color: #205691;
  }

  img {
    width: 80%;
  }
  button {
    background-color: #fd7267;
    width: 20.75rem;
    height: 4rem;
    font-size: 1.3rem;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}



.esquerda {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;

  p {
    color: #205691;
    font-size: 1.5rem;
  }
}

.direita {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.numeros {
  width: 90%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
  img {
    width: 50%;
  }
}


@media (max-width: 768px){
  .mundo{
    display: none;
  }

}


