.header{
    border: 2px solid red;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #205691;
    img{
        width: 5vw;
    }
}