.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #205691;

  .link {
    color: #fff;
    margin-left: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
     font-family: "Source Sans 3", sans-serif;
  }
}

.usuarioContainer {
  position: relative;

  .perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #00aaff;
    cursor: pointer;
    object-fit: cover;
  }

  .menuDropdown {
    position: absolute;
    right: 0;
    top: 60px;
    background: #205691;
    border: 1px solid #00aaff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    min-width: 200px;
    z-index: 100;

    ul {
      list-style: none;
      padding: 0.5rem 0;
      

      li {
        padding: 12px 20px;
       

        &:hover {
          background-color: #7b8dbe;
        }
      }
      a{
         color: #fff;
      }
    }
  }
}

.closedNav{
  display: none;
}


@media (max-width: 768px){
  .perfil{
    max-width: 57px;
  }

}

@media (max-width: 500px){
  .link{
    font-size: 15px;
  }

}