footer {
  background-color: #c6cace;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 30px 5px;
  
  height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  
}


