.principal{
  height: 80vh;
}

h2 {
  color: #205691;
  text-align: center;
  font-size: 3rem;
 padding: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 10px; 
  align-items: start; 
  padding: 0 0.5%;
  margin-bottom: 80px;

  
  h3 {
    font-size: 1.5rem;
    color: #122F97;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
  }

  p{
     font-family: "Inter", sans-serif;
     color: #122F97;
     font-weight: 400;
    
  }
  button {
    margin-top: 15px;
    padding: 1rem;
    background-color: #205691;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer; 
    
    &:hover {
      background-color: rgb(156, 156, 224);
    }
  }
  article{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
}

@media (max-width: 480px) {
  .principal {
    padding: 1rem 3%;
  }
  
  h2 {
    font-size: 1.8rem;
  }
}